.vscode/**/*
.gitignore
src/**/*
**/*.js.map
build
node_modules
tsconfig.json
eslint.config.mjs
webpack.config.js
out
sampleWorkspace
.devcontainer
.DS_Store
.npmrc
license.key
.prettierignore
.prettierrc.mjs
